@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-regular.eot');
  src: url('../fonts/open-sans-regular.eot?#iefix') format('embedded-opentype'),
       /* url('../fonts/open-sans-regular.woff2') format('woff2'),
       url("../fonts/open-sans-regular.woff") format('woff'), */
       url('../fonts/open-sans-regular.svg#OpenSans') format('svg');
}